{% extends "include/basePage.njk" %}

{% block content %}
<p class="text-center">
    This div is centered and takes up 60% of the screen width.
    Whats up guys its ya boy connor to the f dizzle here back for another minecraft video
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
</p>
{% endblock %}