<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kainos Jobs</title>
    <link rel="shortcut icon" href="images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    {% include "include/header.njk" %}

    <div class="container text-center" mx-auto>
        This div is centered and takes up 60% of the screen width.
        Whats up guys its ya boy connor to the f dizzle here back for another minecraft video
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
        ioasdijasdasiodoiasjdoisajdijasodjasodjaosdijsiaojsdoijasdijasodijasoidjasoijdoaijsdoijasdoijaoidjaoijsdoiasjdoijasdoijasdoijsaoidj
    </div>

    {% include "include/footer.njk" %}
  </body>
</html>