{% extends "include/basePage.njk" %}

{% block content %}
<div class="flex-grow-1 w-100 p-5 mx-auto bg-kainos-blue">
  <br><br>
  <h1 class="text-center mb-4 job-title text-light">Apply For {{ role.roleName }} Role</h1>
  <br><br>
</div>
<div class="container w-50 pb-5 ps-5 pe-5 mx-auto">
  <br>
  <form action="#" method="post" enctype="multipart/form-data">
    <h2>Upload your CV</h2>
    <p>To apply for this role, please upload your CV using the File Upload box below:</p>

    {% if fileUploadFailed %}
      <div class="alert alert-danger">
        Failed to upload file, please try again.
      </div>
    {% endif %}

    <div id="dropZone" class="border border-primary rounded text-center file-upload my-3"></div>
    <input type="file" id="formFile" name="file" class="d-none" accept="
      application/vnd.openxmlformats-officedocument.wordprocessingml.document,
      application/vnd.oasis.opendocument.text,
      application/msword,
      application/pdf"
    />
    <button type="submit" class="btn btn-primary fs-4 mt-3">Submit Application</button>
    <a href="/jobrole/{{ role.jobRoleId }}" class="btn btn-outline-primary fs-4 mt-3 ms-3">Go Back</a>
  </form>
</div>

<script src="/scripts/file-upload.js"></script>
{% endblock %}