{% extends "include/basePage.njk" %}

{% block content %}
<div class="flex-grow-1 container login-container p-5 mx-auto">
  <br>
  <br>
  <form class="form" action = "/login" method="post">
      {% if requiresLogin %}
        <h1 class="mb-3">Log In</h1>
        <div class="alert alert-danger mb-4">
          Please log in first to view this page.
        </div>
      {% elif errormessage %}
        <h1 class="mb-3">Log In</h1>
        <div class="alert alert-danger mb-4">
          {{ errormessage }}
        </div>
      {% elif newAccount %}
        <h1 class="mb-3">Log In</h1>
        <div class="alert alert-success mb-4">
          Account Created! Please Log In to continue.
        </div>
      {% else %}
        <h1 class="mb-5">Log In</h1>
      {% endif %}

      <div class="mb-3">
        <label class="form-label fw-bold" id="input-group-left">Email:</label>
        <input type="text" class="form-control login-input" id="email" name="email" value="{{email}}" placeholder="Email">
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold" id="input-group-left">Password:</label>
        <input type="password" class="form-control login-input" id="password" name="password" value="{{password}}" placeholder="Password">
      </div>

      <br>
      <div class="d-grid">
        <button id="submit" type="submit" class="btn btn-primary">Log In</button>
      </div>
      <br>

      <hr>

      <p class="text-center text-secondary mb-2">Don't have an account?</p>
      <div class="d-grid">
        <a class="btn btn-outline-primary" href="/register">Sign Up</a>
      </div>
  </form>
  <br>
  <br>
</div>
{% endblock %}