{% extends "include/basePage.njk" %}

{% block content %}
  <form class="form" action = "/register" method="post">
    <h1 class="mb-3">Register</h1>
    <div class="input-group">
      <span class="input-group-text mb-5" id="input-group-left">Email:</span>
      <input type="text" class="form-control mb-5" id="email" name="email" value="{{email}}" placeholder="email" aria-label="email" aria-describedby="input-group-left">
    </div>
    <div class="input-group">
      <span class="input-group-text mb-3" id="input-group-left">Password:</span>
      <input type="password" class="form-control mb-3" id="password" name="password" value="{{password}}" placeholder="password" aria-label="password" aria-describedby="input-group-left">
    </div>

    {% if errormessage %}
      <h3 class="mb-2 mt-2">{{errormessage}}</h3>
    {% endif %}

    <br></br>

    <button id="submit" type="submit" class="btn btn-primary" style="background-color: #283583">Sign Up</button>
  </form>
{% endblock %}