<br>
<footer
    class="text-center text-lg-start text-white"
    style="background-color: #252d4f"
>
    <section
        class="d-flex justify-content-between p-4"
        style="background-color: #283583"
    ></section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Kainos</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #f0f0ed; height: 2px"
                    />
                    <p>
                    Our people lead from the front, solving the biggest challenges for the world's biggest brands. Work on projects that make a real difference, build a better world through technology, and leave a lasting positive impact and change the way our customers work for the better.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #f0f0ed; height: 2px"
                    />
                    <p>
                        <a href="https://www.kainos.com/about-us" class="text-white">
                        About Us</a>
                    </p>
                    <p>
                        <a href="https://careers.kainos.com/gb/en/life-at-kainos" class="text-white">
                        Our Culture</a>
                    </p>
                    <p>
                        <a href="https://www.kainos.com/about-us/our-approach" class="text-white">
                        Our approach</a>
                    </p>
                    <p>
                        <a href="https://www.kainos.com/about-us/diversity-and-inclusion" class="text-white">
                        Diversity and Inclusion</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #f0f0ed; height: 2px"
                    />
                    <p><i class="fas fa-home mr-3"></i> 4-6 Upper Cres, Belfast BT7 1NT</p>
                    <p><i class="fas fa-envelope mr-3"></i> careers@kainos.com</p>
                    <p><i class="fas fa-phone mr-3"></i> 028 9057 1100</p>
                    <p><i class="fas fa-print mr-3"></i> +44 28 9057 1100</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3" style="background-color:rgb(51, 59, 92)">
        <p>
            &copy; 2025 Copyright
            <a class="text-white" href="https://kainos.com/">Kainos</a>
        </p>
    </div>
</footer>